{% extends 'blog/base.html' %}
{% block content %}
<h2>Posts</h2>

{% if user.is_authenticated %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Post</button>
</form>
{% else %}
<p><a href="{% url 'login' %}">Login</a> to create a post.</p>
{% endif %}

<ul>
{% for post in posts %}
    <li><strong>{{ post.user.username }}</strong>: {{ post.content }}
        {% if post.image %}
            <br><img src="{{ post.image.url }}" width="200">
        {% endif %}
    </li>
{% empty %}
    <li>No posts yet.</li>
{% endfor %}
</ul>
{% endblock %}
